<ion-view title="Produkt">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-more"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="ArticleController as article" padding="false" class="has-header">
    <div class="row item-no-margin title-row">    
      <div class="col col-90 item item-assertive padding-left padding-right padding-top padding-bottom"><h1 class="article-title">{{ item.dabas.name }}</h1></div>
      <div class="col center item item-assertive padding-left padding-right padding-top padding-bottom"><i class="icon favorite-button" ng-click="toggleFav(item.dabas.GTIN, item.dabas.name, item.dabas.producer, item.dabas.country, item.dabas.images[0].Lank)" ng-class="(favorite == true) ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i></div>  
    </div>
    <div class="row item-no-margin-sides calculated-carbon" ng-show="item.carbon > 0">
      <div class="col item item-calm padding-left padding-right padding-top padding-bottom">
        <h1>{{item.carbon}}</h1>
        <div>kg CO<sub>2</sub></div>
      </div>
      <div class="col item item-balanced padding-left padding-right padding-top padding-bottom">
        <h1>= {{item.carbon*6}}</h1>
        <div>km bilresa</div>
      </div>
    </div>
    <div class="row">
      <div class="col padding-right padding-top padding-bottom" ng-show="item.dabas.images[0].Lank">
        <div class="article-image center">
          <img ng-src="{{item.dabas.images[0].Lank}}" />
        </div>
      </div>
      <div class="col padding-left padding-top padding-bottom">
        <p><strong>Vikt:</strong> {{ item.dabas.weight }}</p>
        <p><strong>Land:</strong> {{ item.dabas.country }}</p>
        <p><strong>Tillverkare:</strong> {{ item.dabas.producer }}</p>
      </div>
    </div>
    <ion-list>
        <ion-item class="item item-icon-right" ng-show="item.dabas.ingredients.length > 0" ng-click="show('ingredients')">
          Ingredienser
          <i class="icon" ng-class="(accordion.ingredients == 1) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
        <div class="accordion-content" ng-show="accordion.ingredients === 1">
          <div class="row" ng-repeat="ingredient in item.dabas.ingredients">
            <div class="col">{{ ingredient.name }}</div>
            <div ng-show="ingredient.carbon" class="col">{{ ingredient.carbon }} CO<sub>2</sub> per gram</div>
          </div>
        </div>
        <ion-item class="item item-icon-right" ng-show="item.lcafd" ng-click="show('carbon')">
          Koldioxidinformation
          <i class="icon" ng-class="(accordion.carbon == 1) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
        <div class="accordion-content" ng-show="accordion.carbon === 1">
          <p><strong>Genomsnittligt utsläpp:</strong> {{ item.lcafd.average }} g CO<sub>2</sub> per gram</p>
          <p><strong>Max utsläpp:</strong> {{ item.lcafd.max }} g CO<sub>2</sub> per gram</p>
          <p><strong>Min utsläpp:</strong> {{ item.lcafd.min }} g CO<sub>2</sub> per gram</p>
          <p><strong>Källa:</strong> <a href="http://lcafdb.org/livsmedel/{{ item.lcafd.id }}">Life Cycle Assesment of Food Database</a></p>
        </div>
        <ion-item class="item item-icon-right" ng-show="item.dabas.labels.length > 0" ng-click="show('labels')">
          Miljömärkningar
          <i class="icon" ng-class="(accordion.labels == 1) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
        <div class="accordion-content" ng-show="accordion.labels === 1">
          <p>labels</p>
        </div>
        <ion-item class="item item-icon-right" ng-click="show('categories')">
          Varukategorier
          <i class="icon" ng-class="(accordion.categories == 1) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
        <div class="accordion-content" ng-show="accordion.categories === 1">
          <p ng-show="item.productgroup.vendingArea"><strong>Varuområde:</strong> {{ item.productgroup.vendingArea.article }}</p>
          <p ng-show="item.productgroup.majorGroup"><strong>Huvudgrupp:</strong> {{ item.productgroup.majorGroup.article }}</p>
          <p ng-show="item.productgroup.vendingGroup"><strong>Varugrupp:</strong> {{ item.productgroup.vendingGroup.article }}</p>
          <p ng-show="item.productgroup.vendingUnderGroup"><strong>Varuundergrupp:</strong> {{ item.productgroup.vendingUnderGroup.article }}</p>
        </div>
    </ion-list>
  </ion-content>
</ion-view>