<ion-view title="Produkt" ng-controller="ArticleController as article">
  <ion-nav-buttons side="right">
    <button ng-click="nav.toggleNav($event)" class="button button-icon nav-button icon ion-android-more"></button>
  </ion-nav-buttons>
  <div class="bar bar-positive bar-subheader row filters">
    <div class="row title-row no-padding">    
      <div class="col col-90 item item-positive uppercase padding-top padding-bottom padding-left"><h1 class="article-title">{{ item.dabas.name }}</h1></div>
      <div class="col right item item-positive padding-right"><i class="icon favorite-button" ng-click="toggleFav(item.dabas.GTIN, item.dabas.name, item.dabas.producer, item.dabas.country, item.dabas.images[0].Lank)" ng-class="(favorite == true) ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i></div>  
    </div>
  </div>
  <ion-content padding="false" class="has-header has-subheader">
    <div class="row article-image">
      <div class="padding-right padding-top" ng-show="item.dabas.images[0].Lank" style="background: url('{{item.dabas.images[0].Lank}}') 50% 50% no-repeat;background-size: cover">
      </div>
    </div>

    <div class="row no-padding calculated-carbon center">
      <div class="col item">
        <div class="info-text uppercase">kg CO<sub>2</sub></div>
        <h1 class="numbers" ng-show="item.carbon != undefined">{{item.carbon}}</h1>
        <h1 class="numbers" ng-show="item.carbon == undefined">-</h1>
      </div>
      <div class="col item">
        <div class="info-text uppercase">km bilresa</div>
        <h1 class="numbers" ng-show="item.carbon != undefined">{{item.carbon*6}}</h1>
        <h1 class="numbers" ng-show="item.carbon == undefined">-</h1>
      </div>
    </div>

    </div>

    <ion-list>
        <ion-item class="item item-icon-right uppercase" ng-click="toggleGroup('information')">
          <h3>Livsmedelsinformation</h3>
          <i class="icon ion-ios7-arrow-down accordion-icon" ng-class="isGroupShown('information') ? 'open' : ''"></i>
        </ion-item>
        <div collapse="isGroupShown('information') == false">
          <ion-item class="row item-energized accordion-content center">
            <div class="col" ng-show="item.dabas.weight">
              <div class="info-text uppercase">Vikt (kg)</div>
              <div class="uppercase numbers text-overflow">{{ item.dabas.weight/1000 }}</div>
            </div>
            <div class="col" ng-show="item.dabas.country">
              <div class="info-text uppercase">Land</div>
              <div class="uppercase text-overflow">{{ item.dabas.country }}</div>
            </div>
            <div class="col" bg-show="item.dabas.producer">
              <div class="info-text uppercase">Tillverkare</div>
              <div class="uppercase text-overflow">{{ item.dabas.producer }}</div>
            </div>
          </ion-item>
        </div>
        <ion-item class="item item-icon-right uppercase" ng-show="item.dabas.ingredients.length > 0" ng-click="toggleGroup('ingredients')">
          <h3>Ingredienser</h3>
          <i class="icon ion-ios7-arrow-down accordion-icon" ng-class="isGroupShown('ingredients') ? 'open' : ''"></i>
        </ion-item>
        <ion-item class="item item-energized accordion-content" collapse="isGroupShown('ingredients') == false">
          <div class="row" ng-repeat="ingredient in item.dabas.ingredients">
            <div class="col">{{ ingredient.name }}</div>
            <div ng-show="ingredient.carbon" class="col">{{ ingredient.carbon }} CO<sub>2</sub> per gram</div>
          </div>
        </ion-item>

        <ion-item class="item item-icon-right uppercase" ng-click="toggleGroup('carbon')">
          <h3>Koldioxidinformation</h3>
          <i class="icon ion-ios7-arrow-down accordion-icon" ng-class="isGroupShown('carbon') ? 'open' : ''"></i>
        </ion-item>
        <ion-item class="item item-energized accordion-content long-text" collapse="isGroupShown('carbon') == false">
          <div>Koldioxidvärdet som visas är en uppskattning och ska inte ses som ett exakt värde, utan snarare som en fingervisning. All koldioxiddata är hämtad från LCAFDB (Life Cycle Assesment Food Database). Finns inte det specifika livsmedlet i LCAFDB visas istället koldioxidutsläppet för det aktuella livsmedlets kategori.</div><br/>
          <div>För mer info besök <span class="link-text" ng-click="gotoExternal('http://lcafdb.org')">LCAFDB</span>.</diV>
        </ion-item>

        <ion-item class="item item-icon-right uppercase" ng-show="item.dabas.labels.length > 0" ng-click="toggleGroup('labels')">
          <h3>Miljömärkningar</h3>
          <i class="icon ion-ios7-arrow-down accordion-icon" ng-class="isGroupShown('labels') ? 'open' : ''"></i>
        </ion-item> 
        <div class="accordion-content" collapse="isGroupShown('labels') == false">         
          <ion-item ng-repeat="label in item.dabas.labels" class="item item-thumbnail-left item-text-wrap">
            <img src="img/{{label.Typkod}}.png" />
            <h2>{{label.Typ}}</h2>
            <div class="label-desc">{{label.desc}}</div>
          </ion-item>  
        </div>

        <ion-item class="item item-icon-right uppercase" ng-click="toggleGroup('related')" ng-show="relatedArticles.length > 0">
          <h3>Relaterade artiklar</h3>
          <i class="icon ion-ios7-arrow-down accordion-icon" ng-class="isGroupShown('related') ? 'open' : ''"></i>
        </ion-item>
        <div class="accordion-content" collapse="isGroupShown('related') == false">         
          <ion-item ng-click="article.goto({{relatedArticle.dabas.GTIN}})" ng-repeat="relatedArticle in relatedArticles" ng-show="relatedArticle.dabas.GTIN != item.dabas.GTIN" ng-class="relatedArticle.dabas.images[0].Lank ? 'item-avatar' : ''" class="item">
              <img ng-show="relatedArticle.dabas.images[0].Lank" ng-src="{{relatedArticle.dabas.images[0].Lank}}"/>
              <h2 class="uppercase">{{ relatedArticle.dabas.name }}</h2>
              <p><span class="label">{{ relatedArticle.dabas.producer }}</span> {{ relatedArticle.dabas.country }}</p>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>