<ion-view title="Bläddra" ng-controller="BrowseController as browse">
  <ion-nav-buttons side="right">
    <button ng-click="nav.toggleNav($event)" class="button button-icon nav-button icon ion-android-more"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="false">    
  	<div class="list">
  	<form>

	  <label class="item item-input item-select">
	    <div class="input-label">
	      1
	    </div>
	    <select ng-model="lvl1" ng-change="setLvl(lvl1.no)" ng-options="cat as cat.article for cat in levelOne">
	    	<option value="">Välj varuområde</option>
	    </select>
	  </label>

	  <label ng-class="selected1 == false ? 'disabled' : ''" class="item item-input item-select">
	    <div class="input-label">
	      2
	    </div>
	    <select ng-model="lvl2" ng-change="setLvl(lvl1.no, lvl2.no)" ng-options="cat as cat.article for cat in levelTwo">
	    	<option value="">Välj huvudgrupp</option>
	    </select>
	  </label>

	  <label ng-class="selected2 == false ? 'disabled' : ''" class="item item-input item-select">
	    <div class="input-label">
	      3
	    </div>
	    <select ng-model="lvl3" ng-options="cat as cat.article for cat in levelThree">
	    	<option value="">Välj varugrupp</option>
	    </select>
	  </label>
	<div class="padding-left padding-top padding-right padding-bottom">
		<button ng-class="selected1 === false ? 'disabled' : ''" ng-click="show(lvl1.no, lvl2.no, lvl3.no)" class="button button-block button-positive">Visa produkter</button>
	</div>
	</form>
	</div>
	
  </ion-content>
</ion-view>