<ion-view title="Favoriter">
  <ion-nav-buttons side="right">
    <button ng-click="nav.toggleNav($event)" class="button button-icon nav-button icon ion-android-more"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-controller="FavoriteController as favorite">
   <div ng-show="favs.length > 0">
  	<ion-list>
  		<ion-item ng-click="favorite.goto({{fav.id}})" ng-repeat="fav in favs" ng-class="fav.img ? 'item-avatar' : ''" class="item">
          <div class="item-image-avatar" ng-show="fav.img">
            <img ng-src="{{fav.img}}"/>
          </div>
	  			<h2 class="uppercase">{{ fav.title }}</h2>
	        <p><strong>{{ fav.producer }}</strong> {{ fav.country }}</p>
	        <ion-option-button class="button-assertive" ng-click="toggleFav({{fav.id}})"><span>Ta bort</span></ion-option-button>
  		</ion-item>
  	</ion-list>
   </div>
   <div ng-show="favs.length < 1">
   	<div><p class="center padding-top">Du har inte lagt till några favoriter.</p></div>
   </div>
  </ion-content>
</ion-view>