<ion-pane drag-content="false" ng-controller="NavigationController as nav">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" animation="no-animation">
    <ion-nav-back-button ng-click="nav.goBack()" class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-view name="menuContent" animation="fade-in-out"></ion-nav-view>
</ion-pane>

<script id="navigation.html" type="text/ng-template">
  <ion-popover-view class="navigation slide-in-down">
      <ion-list>
        <ion-item nav-clear class="item item-positive center" ng-click="nav.navigateTo('/app/start')" >
          <i class="icon ion-ios7-home-outline"></i>
        </ion-item>
        <ion-item nav-clear class="item item-positive center" ng-controller="ScanController as scan" ng-click="scanBarcode()">
          <i class="icon ion-ios7-barcode-outline"></i>
        </ion-item>
        <ion-item nav-clear class="item item-positive center" ng-click="nav.navigateTo('/app/search')" >
          <i class="icon ion-ios7-search"></i>
        </ion-item>
        <ion-item nav-clear class="item item-positive center" ng-click="nav.navigateTo('/app/browse')" >
          <i class="icon ion-ios7-albums-outline"></i>
        </ion-item>
        <ion-item nav-clear class="item item-positive center" ng-click="nav.navigateTo('/app/favorites')" >
          <i class="icon ion-ios7-star-outline"></i>
        </ion-item>
      </ion-list>
  </ion-popover-view>
</script>