<ion-view title="" hide-nav-bar="true" ng-controller="SearchController as search">
<ion-header-bar class="bar bar-dark bar-header item-input-inset bar-search">
 	  <div class="item-input-wrapper">
    	<i class="icon ion-ios7-search placeholder-icon"></i>
      <form ng-submit="search.closeKeyboard()" class="search-form">
        <input ng-model="search.searchInput" ng-change="search.change()" type="search" placeholder="Sök artikel" id="searchinput">
        <input type="submit" value="Sök" class="ng-hide">
      </form>
      <i class="clear-search icon ion-ios7-close" ng-click="search.setInput('')"></i>
  	</div>
  	<button class="button button-clear" ng-click="search.cancel()">
    	Avbryt
  	</button>
</ion-header-bar>
<ion-content>
  <div ng-show="articles.length > 0">
  	<ul class="list">
  		<li ng-click="search.goto({{article.dabas.GTIN}})" ng-repeat="article in articles" ng-class="article.dabas.images[0].Lank ? 'item-avatar' : ''" class="item item-light">
        <div class="item-image-avatar" ng-show="article.dabas.images[0].Lank" >
          <img ng-src="{{article.dabas.images[0].Lank}}"/>
        </div>  			
        <h2 class="uppercase">{{ article.dabas.name }}</h2>
        <p><span class="label">{{ article.dabas.producer }}</span> {{ article.dabas.country }}</p>
  		</li>
  	</ul>
    <div class="padding-left padding-right padding-bottom">
      <button ng-click="search.showAll()" class="button button-block button-positive">
        Visa alla resultat
      </button>
    </div>
  </div>
  <div ng-show="noArticles === true && previousSearches.length > 0">
    <ul class="list">
      <li class="item item-light item-divider uppercase">
        <h3>Tidigare sökningar</h3>
      </li>
      <li ng-repeat="key in previousSearches" ng-click="search.setInput(key)" class="item item-light">
        {{ key }}
      </li>
      <li class="item item-light clear-history uppercase" ng-click="search.clearPrevious()">
        <h3>Rensa historik</h3>
      </li>
    </ul>
  </div>
  <div class="center search-info padding-top padding-left padding-right padding-bottom" ng-show="noArticles === true && (previousSearches === null || previousSearches.length < 1)">
  <i class="icon ion-ios7-search placeholder-icon"></i>
  <h3 class="uppercase">Sök</h3>
  <p>Sök efter artiklar du vill veta koldioxidutsläppet om.</p>
  </div>
  <p class="center padding-top padding-left padding-right padding-bottom" ng-show="noResult === true && noArticles == false">Inga resultat. Vänligen försök igen.</p>
  <div class="center padding-top padding-left padding-right padding-bottom" ng-show="loader === true">
    <i class="icon ion-loading-c"></i>
  </div>
</ion-content>
</ion-view>