<div id="start-loader" class="start-overlay loading-container visible active" ng-controller="StartController"></div>
<ion-view title="" hide-nav-bar="true" hide-back-button="true" class="start">
  <ion-content class="has-header">
    <button class="button button-large button-full border-bottom start-item scan" ng-controller="ScanController as scan" ng-click="scanBarcode()">
      <div class="button-content">
        <div class="start-icon"><i class="icon ion-ios7-barcode-outline"></i></div>
        <div>Skanna</div>
      </div>
    </button>
    <button ng-click="nav.navigateTo('/app/search')" class="button button-large border-bottom button-full start-item search">
      <div class="button-content">
        <div class="start-icon"><i class="icon ion-ios7-search"></i></div>
        <div>Sök</div>
      </div>
     </button>
    <button ng-click="nav.navigateTo('/app/browse')" class="button button-large button-full border-bottom start-item browse">
      <div class="button-content">
        <div class="start-icon"><i class="icon ion-ios7-albums-outline"></i></div>
        <div>Bläddra</div>
      </div>
    </button>
    <button ng-click="nav.navigateTo('/app/favorites')" class="button button-large button-full start-item favorites">
      <div class="button-content">
        <div class="start-icon"><i class="icon ion-ios7-star-outline"></i></div>
        <div>Favoriter</div>
      </div>
    </button>
  </ion-content>
</ion-view>
