<ion-view title="Foodscanner" ng-controller="StartController as start" hide-back-button="true">

  <ion-content class="has-header" scroll="false">    

  	<button class="button button-large button-full button-assertive start-item scan" ng-controller="ScanController as scan" ng-click="scanBarcode()">
      <i class="icon ion-ios7-barcode"></i>
      Skanna
    </button>
    <button ng-click="go('/app/search')" class="button button-large button-full button-calm start-item search">
      <i class="icon ion-search"></i>
      Sök
     </button>
    <button ng-click="go('/app/browse')" class="button button-large button-full button-balanced start-item browse">
      <i class="icon ion-ios7-albums"></i>
      Bläddra
    </button>
    <button ng-click="go('/app/favorites')" class="button button-large button-full button-positive start-item favorites">
      <i class="icon ion-ios7-star"></i>
      Favoriter
    </button>
  </ion-content>
</ion-view>
