/* Empty. Add your own CSS if you like */

/**
 * Layout/Style
 */

body, .ionic-body {
	font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .label {
	font-weight: 600;
}
.item h3 {
	margin: 0;
}
.item p {
	color: #9b9b9b;
}
.uppercase {
	text-transform: uppercase;
}
.list {
	margin-bottom: 10px;
}

/**
 * Header
 */
.bar {
	border:0 !important;
	z-index: 102;
}
.bar.invisible {
	display: none;
}
.bar .title {
	font-weight: 900 !important;
	text-transform: uppercase !important;
}
.bar .button-clear {
	text-transform: none !important;
	font-weight: 500 !important;
}
.popover-open .bar {
	pointer-events: auto;
}

/**
 * Navigation
 */
.navigation {
	width: auto !important;
	height: auto !important;
	right: 0 !important;
	left: auto !important;
	margin: 4px 0 0 0 !important;
}
.navigation .item {
	padding: 10px;
	border-color: #1f9b6d !important;
	background-color: #30D69B !important;
	color: #fff !important;
}
.nav-button.button.button-icon:before {
	font-size:24px !important;
}
.navigation .icon {
	font-size:24px;
}
.popover .item:last-child {
	border-bottom: 1px solid #1fbd8b;
}

/**
 * Popover/Backdrop
 */
.popover {
	border-radius: 0px !important;
	box-shadow: none !important;
}
.popover-backdrop {
 transition: all ease-in-out 250ms;
	background: rgba(0,0,0,0.05) !important;
	z-index: 100;
}
.popover-backdrop.hiding {
	display: inline !important;
}
.no-nav-animation .popover-backdrop.hiding {
	display: none !important;
}
ion-view > ion-content,
ion-view > .bar-subheader {
  transition: -webkit-filter ease-in-out 250ms,
  				-moz-filter ease-in-out 250ms,
  				filter ease-in-out 250ms;
}
.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.slide-in-down {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.slide-in-down.ng-enter, .slide-in-down > .ng-enter {
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-down.ng-enter-active, .slide-in-down > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-down.ng-leave, .slide-in-down > .ng-leave {
  transition: all ease-in-out 400ms; }

/**
 * Start
 */
.start {
	background-color: #30D69B;
	background-image: linear-gradient(bottom, #114A35 50%, #30D69B 50%);
	background-image: -o-linear-gradient(bottom, #114A35 50%, #30D69B 50%);
	background-image: -moz-linear-gradient(bottom, #114A35 50%, #30D69B 50%);
	background-image: -webkit-linear-gradient(bottom, #114A35 50%, #30D69B 50%);
	background-image: -ms-linear-gradient(bottom, #114A35 50%, #30D69B 50%);
}
.start .scroll-content {
	top: 19px !important;
}
.start .scroll {
	height: 99% !important;
}
.button.start-item {
	min-height: 100px;
	height: 25%;
	margin: 0;
	border: 0 !important;
	color: #fcfcfc;
	text-transform: none !important;
	font-size: 24px;
}
.button.scan {
	background: #30D69B;
}
.button.search {
	background: #22996E;
}
.button.browse {
	background: #186B4D;
}
.button.favorites {
	background: #114A35;
}
.button.start-item .button-content {
	width: 170px;
	margin: 0 auto;
	text-align: left;
}
.button.start-item .button-content div {
	display: inline-block;
}
.start-item .start-icon {
	border: 1px solid #fcfcfc;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	text-align: center;
}
.button.start-item i:before {
	line-height: 50px;
	font-size: 30px;
	margin: 0;
	padding: 0;
}
/**
 * Search
 */
.bar-search .item-input-wrapper {
	background: #fff;
	border-radius: 0px;
}
.platform-ios .bar-search .item-input-wrapper {
	border-radius: 4px;
}
.platform-ios .bar-search input,
.platform-ios .bar-search .button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none !important;
	font-weight: normal !important;
}
.platform-android .bar-search .button.button-clear {
	padding:0px 8px;
	font-size: 12px;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	background-color: #30D69B !important;
	border-width: 0px;
}
.item.clear-history h3 {
	color: #ce6162 !important;
}
.search-info i {
	font-size: 150px;
	color: #40cda2;
}

/**
 * Articlelist
 */
.bar-subheader,
.bar-subheader.row {
	padding: 0px !important;
}
.filters .button .underline {
	border-bottom:1px solid #FFF;
}
.item-radio input:checked ~ .item-content {
	background: #30D69B;
	color: #fff;
}
.item-radio input:checked ~ .icon {
	color: #fff;
}
/**
 * Article
 */
.title-row .item {
	border: 0;
}
h1.article-title {
	font-size: 20px;
	font-weight: 800;
	color: #fff;
}
.favorite-button {
	color: #fff;
	font-size: 30px;
}
.article-image {
	background:#fff;
	padding:5px;
	border: 1px solid #ccc;
}
.article-image img {
	max-height:110px;
	max-width:110px;
}
.label-desc {
	font-size:12px;
}
/**
 * Animation
 */
.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
  -webkit-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }

/**
 * Utility
 */
.button {
	font-weight: 700 !important;
	text-transform: uppercase;
	border-radius: 0 !important;
}
.button-block {
	margin: 0 !important;
}
.button.active,
.button.activated {
	box-shadow: none !important;
}
.modal {
	background: #f5f5f5;
}
img {
	border-radius: 0 !important;
}
.border-right {
	border-right-style: solid !important;
	border-right-width: 1px !important;
}
.border-left {
	border-left-style: solid !important;
	border-left-width: 1px !important;
}
.border-top {
	border-top-style: solid !important;
	border-top-width: 1px !important;
}
.border-bottom {
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.no-padding {
	padding: 0;
}
.no-padding-sides {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-border {
	border:0 !important;
}

/**
 * Accordion collapse
 */

.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
     transition-duration: 0.09s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}

.accordion-icon {
	-webkit-transition: 250ms all linear;
  	-moz-transition: 250ms all linear;
  	transition: 250ms all linear;
}
.accordion-icon.open {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
/**
Browse
*/
label.disabled .input-label {
	color: #ededed !important;
}
label.disabled {
	pointer-events: none;
}

label.disabled>select {
	color: #ededed !important;
}

/**
Favorites
*/
ion-option-button span {
	line-height: 75px;
}